<div id="container-listitems">
<h1><%= @todo_list.title %></h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th width="25%">Completed?</th>
			<th width="55%">Content</th>
			<th width="15%">Functions</th>
		</tr>
	</thead>
	<tbody>		
	<% @todo_list.todo_items.each do |todo_item| %>
	<tr id="<%= dom_id(todo_item) %>">
		<td>
			<% if todo_item.completed? %>
			  <%= todo_item.completed_at %>
			<% else %>
			  <button class="btn btn-success", text><%= link_to "Mark Complete", complete_todo_list_todo_item_path(todo_item), method: :patch %></button>		
			<% end  %>
		</td>
		<td><%= todo_item.content %></td>
		<td>
			<button class="btn btn-warning", text><%= link_to "Edit", edit_todo_list_todo_item_path(todo_item) %></button>
			<button class="btn btn-danger", text><%= link_to "Delete", todo_list_todo_item_path(todo_item), method: :delete, data: { confirm: "Are you sure?" } %></button>
		</td>
	</tr>	
	<% end %>
</tbody>
</table>
<hr>
<p>
	<button class="btn btn-info", text><%= link_to "New Todo Item", new_todo_list_todo_item_path %></button>
	<button class="btn btn-inverse", text><%= link_to 'Back', todo_lists_path %></button>
</p>
</div>

		
