<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name, "First Name" %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, "Last Name" %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirm Password" %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Sign Up", class:"btn btn-primary" %>
  </div>
<% end %>

      <body="preloaded">
      <div class="marker1 marker"></div>​ 
      <div class="marker2 marker"></div>​
      <div class="marker3 marker"></div>​
      <div class="marker4 marker"></div>​
      <div class="marker5 marker"></div>​
      <div class="marker6 marker"></div>​
      <div class="marker7 marker"></div>​
      <div class="marker8 marker"></div>​
      <div class="marker9 marker"></div>​
      <div class="marker10 marker"></div>​
      <div class="marker11 marker"></div>​
      <div class="marker12 marker"></div>​ 
      <div class="marker13 marker"></div>​
      <div class="marker14 marker"></div>​
      <div class="marker15 marker"></div>​
      <div class="marker16 marker"></div>​
      <div class="marker17 marker"></div>​
      <div class="marker18 marker"></div>​
      <div class="marker19 marker"></div>​
      <div class="marker20 marker"></div>​
      <div class="marker21 marker"></div>​
      <div class="marker22 marker"></div>​
      <div class="marker23 marker"></div>​
    </body>  

