<h1>Login</h1>
<%= form_tag user_sessions_path do %>
	<%= label_tag :email, "Email Address" %>
	<%= text_field_tag :email, params[:email] %>
	<br/>

	<%= label_tag :password, "Password" %>
	<%= password_field_tag :password %>
	<br/>
	
	<p class="login"><%= submit_tag "Log In", :class => "btn btn-primary" %></p>
	<br/>

	<p><button class="btn btn-inverse", text><%= link_to "Forgot Password", new_password_reset_path %></button></p>
<% end %>	

